body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #d3ebc7;
    color: #333;
}


h1 {
    color: #000;
    text-align: center;
}

h2 {
    color: #000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #007BFF;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.active {
    color: green;
}

.inactive {
    color: red;
}
td.center-img {
text-align: center;
}
p a {
    display: inline-block;
    color: #fff;
    background-color: #17a2b8;
    padding: 8px 16px;
    border-radius: 4px;
    border: 2px solid #11707f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}
/* Estilo para el enlace "Eliminar" */
a.delete-link {
position: relative;
display: inline-block;
}

/* Estilo para la imagen de "Eliminar" */
img.delete-icon {
position: absolute;
top: 50%;
right: -20px;
transform: translateY(-50%);
opacity: 0;
transition: opacity 0.3s ease;
}

/* Estilo para mostrar la imagen cuando se pasa el cursor por encima del enlace */
a.delete-link:hover img.delete-icon {
opacity: 1;
}
p a:hover {
    background-color: #11707f;
    border-color: #0d4b56;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
tbody td:nth-child(2) {
    color: #007BFF;
}